@import 'src/variables';
@import '~le5le-ui/variables';

form {
  width: 4rem;
  padding: 0.3rem;
  background: #fff;
  color: $color;
}

form input,
form button {
  width: 100%;
  line-height: 2.4;
  font-size: 0.14rem;
}

.input + .status {
  top: -0.32rem;
}

a {
  color: #ec5953;
}
.code {
  a {
    top: 0.06rem;
  }
}
