@import 'src/variables';
@import '~le5le-ui/variables';

form {
  width: 4rem;
  padding: 0.3rem;
  background: #fff;
  color: $color;
}

form input,
form button {
  width: 100%;
  line-height: 2.4;
  font-size: 0.14rem;
}

.input + .status::after {
  top: -0.33rem;
}

a {
  color: #ec5953;
}

.code {
  position: relative;
}

.code input {
  padding-right: 1.5rem;
}

.code a {
  position: absolute;
  top: 0.06rem;
  right: 0.1rem;
}

.code .ng-pristine.ng-invalid ~ a,
.code .ng-touched ~ a {
  right: 0.3rem;
}

.code .ng-untouched.ng-invalid ~ a {
  right: 0.1rem;
}

.picture .input {
  width: inherit;
}

.picture img {
  height: 0.4rem;
  flex: 1;
  margin-left: 0.1rem;
}
