<div class="header" *ngIf="user">
  <div class="item">
    <a class="pl10" routerLink="/user"> <img src="/assets/img/favicon.ico" /> 乐吾乐 </a>
  </div>

  <div class="item full ph10"></div>
  <div class="item">
    <a target="_blank" (click)="onService()">支持与服务</a>
  </div>

  <div class="item ml10">
    <div class="user">
      <a class="pointer" style="padding: 0 .08rem" routerLink="/user">
        <ui-avatar
          class="mr5"
          [letters]="user.usernamePinyin"
          [img]="user.avatarUrl"
          [colors]="['#ff4d4f']"
        ></ui-avatar>
        {{ user.username }}
        <i class="iconfont icon-angle-down"></i>
      </a>
      <div class="dropdown right">
        <div class="item"><a routerLink="/user">个人中心</a></div>
        <div class="item separator"></div>
        <div class="item"><a (click)="onSignout()">退出</a></div>
      </div>
    </div>
  </div>
</div>
<div class="body-height">
  <div class="sub-headline pb10">个人中心</div>

  <div class="panel p20">
    <div class="flex middle mb10">
      <label class="text">头像：</label>
      <div class="value" style="overflow: hidden">
        <ui-avatar
          class="mr5"
          [letters]="user.usernamePinyin"
          [img]="user.avatarUrl"
          [colors]="['#ff4d4f']"
        ></ui-avatar>
      </div>
      <!-- <div class="gray ml10">可点击头像上传新头像图片</div> -->
    </div>

    <div class="flex middle mb10">
      <label class="text">昵称：</label>
      <div>
        <label class="value">{{ user.username }}</label>
        <button class="ml10 button primary" (click)="onEditUsername()">修改</button>
      </div>
    </div>

    <div class="flex middle mb10">
      <label class="text">手机号：</label>
      <div>
        <label class="value" [class.gray]="!user.phone">{{ user.phone || '未绑定' }}</label>
        <button class="ml10 button primary" (click)="onEditPhone()">绑定</button>
      </div>
    </div>

    <div class="flex middle mb10">
      <label class="text">邮箱：</label>
      <div>
        <label class="value" [class.gray]="!user.email">{{ user.email || '未绑定' }}</label>
        <button class="ml10 button primary" (click)="onEditEmail()">绑定</button>
      </div>
    </div>

    <div class="flex mt20">
      <div class="text">账号安全程度：</div>
      <div class="value">
        <ui-progress
          style="display:inline-block;width:2.2rem"
          [class.ui-warning]="security < 0.8"
          [class.ui-error]="security < 0.6"
          [(ngModel)]="security"
          total="1"
          [options]="securityOptions"
        ></ui-progress>
      </div>
      <div class="ml10 gray" *ngIf="!user.phone">请绑定手机号提高安全程度！</div>
      <div class="ml10 gray" *ngIf="user.phone">Good，您的账号安全程度良好！</div>
    </div>
    <div class="flex mt20" *ngIf="user.vip">
      <div class="text">VIP：</div>
      <div class="value">
        <b>{{ user.vip | vip }}</b
        >，到期时间：{{ user.vipExpiry | date: 'yyyy-MM-dd' }}
      </div>
      <div class="ml10 warning" *ngIf="user.isExpiry">您的会员快到期，请及时处理，以免影响使用！</div>
    </div>
  </div>

  <form
    *ngIf="user.phone || user.email"
    #passwordForm="ngForm"
    (ngSubmit)="onSavePassword()"
    [uiTouchForm]="passwordForm"
  >
    <div class="flex">
      <div class="sub-headline mt50 pb10">
        {{ user.password ? '修改密码' : '设置密码' }}
      </div>
      <div class="ml20 gray mt50 pb10" *ngIf="!user.password" style="align-self: center">
        您当前是第三方登录的账号，你可以设置一个密码，下次可以使用手机或邮箱 + 密码得方式登录
      </div>
    </div>
    <div class="panel p20">
      <div class="flex mv10" *ngIf="user.password">
        <label class="text">原密码：</label>
        <div>
          <input type="password" name="old" class="input" [(ngModel)]="password.old" required />
          <div *ngIf="!password.old" class="error">
            请输入原密码
          </div>
        </div>
      </div>
      <div class="flex mb10">
        <label class="text">新密码：</label>
        <div>
          <input
            type="password"
            name="new"
            class="input"
            [(ngModel)]="password.new"
            #pwdCtrl="ngModel"
            uiIsPassword
            required
          />
          <div *ngIf="pwdCtrl.invalid" class="error">
            请输入不包含空格，长度为8-20个字符，必须同时包含数字和字母的新密码。
          </div>
        </div>
      </div>
      <div class="flex mb10">
        <label class="text">确认密码：</label>
        <div>
          <input type="password" name="confirm" class="input" [(ngModel)]="password.confirm" required />
          <div *ngIf="password.new !== password.confirm" class="error">
            新密码和确认密码不一致
          </div>
          <div *ngIf="!password.confirm" class="error">
            请再输入一次密码
          </div>
        </div>
      </div>
      <div class="flex middle mb10">
        <label class="text"></label>
        <div>
          <button class="button primary" [disabled]="password.saving">
            {{ user.password ? '修改密码' : '设置密码' }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<form
  class="modal"
  *ngIf="phone"
  #phoneForm="ngForm"
  (ngSubmit)="onSavePhone(phoneForm.invalid)"
  [uiTouchForm]="phoneForm"
>
  <div class="modal-content">
    <div class="modal-header pointer" uiDivMove [isHead]="true">
      <div class="caption">绑定手机号</div>
      <i class="fr iconfont icon-close" (click)="phone = null"></i>
    </div>

    <div class="modal-body ph30 pv20">
      <div>手机号</div>
      <div class="mt5">
        <input class="input full" name="phone" [(ngModel)]="phone.phone" uiIsPhone required />
        <i class="iconfont status"></i>
      </div>
      <div class="mt10">图片验证码</div>
      <div class="picture flex middle">
        <div>
          <input
            name="captcha"
            class="input"
            [(ngModel)]="phone.captcha"
            placeholder="图形码"
            autocomplete="off"
            required
          />
          <i class="iconfont status"></i>
        </div>
        <img [src]="code.captcha" (click)="onRefresh()" />
      </div>
      <div class="mt10">验证码</div>
      <div class="code mt5">
        <input name="code" class="input" [(ngModel)]="phone.code" placeholder="动态码" autocomplete="off" required />
        <i class="iconfont status"></i>
        <a (click)="onPhoneCode()">{{ code.text }}</a>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="phone = null">取消</button>
      <button class="button primary ml10">确定</button>
    </div>
  </div>
</form>

<form
  class="modal"
  *ngIf="email"
  #emailForm="ngForm"
  (ngSubmit)="onSaveEmail(emailForm.invalid)"
  [uiTouchForm]="emailForm"
>
  <div class="modal-content">
    <div class="modal-header pointer" uiDivMove [isHead]="true">
      <div class="caption">绑定邮箱</div>
      <i class="fr iconfont icon-close" (click)="email = null"></i>
    </div>

    <div class="modal-body ph30 pv20">
      <div>邮箱</div>
      <div class="mt5">
        <input class="input full" name="email" [(ngModel)]="email.email" uiIsEmail required />
        <i class="iconfont status"></i>
      </div>
      <div class="mt10">图片验证码</div>
      <div class="picture flex middle">
        <div>
          <input
            name="captcha"
            class="input"
            [(ngModel)]="email.captcha"
            placeholder="图形码"
            autocomplete="off"
            required
          />
          <i class="iconfont status"></i>
        </div>
        <img [src]="code.captcha" (click)="onRefresh()" />
      </div>
      <div class="mt10">验证码</div>
      <div class="code mt5">
        <input name="code" class="input" [(ngModel)]="email.code" placeholder="动态码" autocomplete="off" required />
        <i class="iconfont status"></i>
        <a (click)="onEmailCode()">{{ code.text }}</a>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="email = null">取消</button>
      <button class="button primary ml10">确定</button>
    </div>
  </div>
</form>

<div class="modal" *ngIf="showService">
  <div class="modal-content">
    <div class="modal-header pointer" uiDivMove [isHead]="true">
      <div class="caption">支持与服务</div>
      <i class="fr iconfont icon-close" (click)="showService = null"></i>
    </div>

    <div class="modal-body ph30 pv20">
      <p>乐吾乐 - 目前属于各人维护，欢迎大家参与支持。您有任何问题欢迎联系：</p>
      <div><label class="c-label">微信号：</label>alsmile123</div>
      <div><label class="c-label">邮箱：</label>alsmile123@qq.com</div>
    </div>
    <div class="modal-footer">
      <button class="button primary ml10" (click)="showService = null">确定</button>
    </div>
  </div>
</div>
